<div class="bg-img">
    <div class="container">

        <header id="header">
            <nav>
                <div class="container">
                    <div></div>
                    <div class="text-center">
                        <a class="nav-brand text-dark" style="font-weight: bold;">Student Mangement System</a>
                    </div>
                </div>
            </nav>
        </header>

        <main id="site-main">
            <div class="container">

                <div class="form-title text-center">
                    <h2 class="text-white" style="font-weight: bold;">Reset Password</h2>
                </div>

                <!-- Form -->
                <form id="add_user" autocomplete="off" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                    <div class="new_user">

                        <div class="registerForm col-md-12" style="display: flex;">
                            <div class="form-group col-md-6" style="margin-right: 10px;">
                                <label class="text-white" for="password" style="font-weight: bold;">New Password</label>
                                <input type="password" formControlName="newPassword" placeholder="New Password" required>
                            </div>

                            <div class="form-group col-md-6" style="padding-right: 10px;">
                                <label class="text-white" for="password" style="font-weight: bold;">Confirm
                                    Password</label>
                                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn text-dark update" style="font-weight: bold;"
                                [disabled]="!resetForm.valid">Submit</button>
                            <div style="text-align: center;">
                                <a href="" routerLink="/login" style="color: #ffff;">Back To Login</a><br>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </main>


    </div>
</div>